body {
    background-color:antiquewhite;
}

.flex-container {
    display: flex;
}

.column-left {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 50%;
}

.column-right {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    width: 50%;
}

.title-img {
    width: 50%;
    padding: 0%;
    margin: 0%;
    border: 0%;
}
